
<div class="container">
  <h1>Cadastro de Rota de Ônibus</h1>
  <form action="#" method="POST">
      <div class="form-group">
          <label for="route-name">Nome do motorista</label>
          <input type="text" id="route-name" name="route-name" placeholder="Digite o nome do motorista" required>
      </div>
      <div class="form-group">
          <label for="bus-number">Placa do veiculo</label>
          <input type="text" id="bus-number" name="bus-number" placeholder="Digite a placa do ônibus" required>
      </div>
      <div class="form-group">
        <label for="bus-number">numero da rota</label>
        <input type="text" id="bus-number" name="bus-number" placeholder="numero da rota" required>
    </div>
      <div class="form-group">
          <label for="start-location">Local de Partida</label>
          <input type="text" id="start-location" name="start-location" placeholder="Digite o local de partida" required>
          <label for="departure-time">Hora de Partida</label>
          <input type="time" id="departure-time" name="departure-time" required>
      </div>
      <div class="form-group">
          <label for="end-location">Destino Final</label>
          <input type="text" id="end-location" name="end-location" placeholder="Digite o destino final" required>
          <label for="departure-time">Horario de chegada</label>
          <input type="time" id="departure-time" name="departure-time" required>

      </div>
      <button type="submit" class="submit-button">Cadastrar Rota</button>
  </form>
</div>


