<div class="container">
  <h2>Registro de Rotas WM</h2>

  <label for="motorista">Nome do Motorista:</label>
  <input type="text" id="motorista" name="motorista">

  <label for="data">Data:</label>
  <input type="date" id="data" name="data">

  <label for="fabrica">Nome da Fábrica:</label>
  <input type="text" id="fabrica" name="fabrica">

  <label for="funcionarios">Quantidade de Funcionários:</label>
  <input type="number" id="funcionarios" name="funcionarios">

  <label for="turno">Turno:</label>
  <select id="turno" name="turno">
    <option value="comercial">Comercial</option>
    <option value="1">1º Turno</option>
    <option value="2">2º Turno</option>
    <option value="3">3º Turno</option>
  </select>

  <button type="submit"><a href="conexão.php">Enviar</a></button>
</div>
